{% extends 'ganaderia/base.html' %}

<!-- AL DEJAR ESTE BLOQUE VACÍO, LE DECIMOS A DJANGO QUE DESTRUYA EL MENÚ SOLO EN ESTA PÁGINA -->
{% block menu_lateral %}
{% endblock %}

{% block content %}

    <h2 class="titulo-panel">Panel de Control - {{ request.user.perfil.granja.nombre }}</h2>
    <p class="subtitulo-panel">Selecciona una de las opciones para gestionar los datos:</p>

    <!-- Contenedor principal para colocar las tarjetas en fila -->
    <div class="menu-fila">
        
        <!-- Bloque 1: Vacas (Toda la tarjeta es un enlace) -->
        <a href="{% url 'ganaderia:lista_vacas' %}" class="tarjeta-menu">
            <h3>🐄 Lista de Vacas</h3>
            <p>Consultar el censo total y buscar animales.</p>
        </a>
        
        <!-- Bloque 2: Inseminaciones -->
        <a href="{% url 'ganaderia:lista_inseminaciones' %}" class="tarjeta-menu">
            <h3>💉 Inseminaciones</h3>
            <p>Registro de intentos y confirmación de estados.</p>
        </a>

        <!-- Bloque 3: Estimaciones / Calendario -->
        <a href="{% url 'ganaderia:lista_estimaciones' %}" class="tarjeta-menu">
            <h3>📅 Calendario</h3>
            <p>Fechas de secado y previsiones de parto por meses.</p>
        </a>
        
        <!-- Bloque 4: Partos -->
        <a href="{% url 'ganaderia:lista_partos' %}" class="tarjeta-menu">
            <h3>🍼 Historial de Partos</h3>
            <p>Nacimientos registrados y asignación de crías.</p>
        </a>

    </div>

{% endblock %}