{% extends 'ganaderia/base.html' %}

{% block content %}
    <div class="encabezado-lista">
        <h2>Registro de Partos - {{ nombre_granja }}</h2>
        <a href="{% url 'ganaderia:crear_parto' %}" class="btn-accion btn-añadir">+ Registrar Parto</a>
    </div>

    <table class="tabla-datos">
        <thead>
            <tr>
                <th>Fecha de Parto</th>
                <th>Madre (Nº Casa)</th>
                <th>Padre</th>
                <th>Género Cría</th>
                <th>Nº Casa Cría</th>
            </tr>
        </thead>
        <tbody>
            {% for parto in partos %}
            <tr>
                <td>{{ parto.fecha_real|date:"d/m/Y" }}</td>
                <td>{{ parto.madre.numero_casa }}</td>
                <!-- default:"-" pone una rayita si el campo del padre está vacío -->
                <td>{{ parto.nombre_padre|default:"-" }}</td>
                <td><strong>{{ parto.genero_cria }}</strong></td>
                <td>
                    {% if parto.genero_cria == 'HEMBRA' and parto.numero_casa_cria %}
                        Nº {{ parto.numero_casa_cria }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="texto-vacio">No hay registros de partos en esta granja.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}